<h2>Asistencias</h2>
<mat-divider></mat-divider>
<div *ngIf="!viewOneVacancy" class="mt-2">
  <mat-tab-group animationDuration="500ms">

    <mat-tab label="Guardar y Ver todas las Convocatorias">
      <div class="d-flex justify-content-end gap-5 p-2">
        <div class="d-flex gap-1">
          <mat-icon *ngIf="viewList">visibility</mat-icon>
          <mat-icon *ngIf="!viewList">visibility_off</mat-icon>
          <h4>LISTA</h4>
        </div>

        <mat-slide-toggle [checked]="viewList" (change)="changeSlideToggle()"></mat-slide-toggle>
      </div>
      <div class="mt-2 d-flex justify-content-around components-container">
        <user-vacancies-create-vacancies
        [allPositions]="allPositions"
        [allVacancies]="allVacancies"
        (allVacanciesEmit)="changeAllVacancies($event)"
        ></user-vacancies-create-vacancies>
        <user-vacancies-all-vacancies [allVacancies]="allVacancies" [viewList]="viewList"
        (idVacancyEmit)="changeIdVacancy($event)"></user-vacancies-all-vacancies>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
