<div class="mt-5 p-2">
  <form [formGroup]="createSettlementForm" (ngSubmit)="onCreateSettlements()" class="create-form-center" action="">

    <div>
      <div class="d-flex justify-content-start gap-5">
        <mat-form-field class="w-50">
          <mat-label>Seleccione un contrato</mat-label>
          <mat-select formControlName="contractId">
            <mat-option *ngFor="let item of allContracts" [value]="item.id">{{item.employee.names}}
              {{item.employee.last_names}} - {{item.contractType.type}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <h4>Recision de Contrato:</h4>
          <div>
            <mat-checkbox [disabled]="disabledVoluntary" (change)="changeVoluntaryCheck()"
              formControlName="isVoluntary">Voluntaria</mat-checkbox>

            <mat-checkbox [disabled]="disabledForced" (change)="changeForcedCheck()"
              formControlName="isForced">Forzada</mat-checkbox>

            <mat-checkbox [disabled]="disabledTermination" (change)="changeTerminationCheck()"
              formControlName="isTermination">Por Finalización</mat-checkbox>
          </div>


        </div>

      </div>

      <div class="d-flex justify-content-start align-items-center gap-5">
        <mat-form-field class="w-50">
          <mat-label>Aguinaldo</mat-label>
          <input matInput type="number" placeholder="Ex. 2000" formControlName="christmasBonus">
          <mat-error>Esta campo es obligatorio</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="createSettlementForm.invalid">
          Guardar <mat-icon>book_mark</mat-icon>
        </button>
      </div>

    </div>

  </form>
</div>
