<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="over" [ngStyle]="{width:'300px'}">

    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-nav-list>
      <!-- <mat-list-item
        *ngFor="let item of sideBarItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item> -->
      <user-my-menu-expansion-panel></user-my-menu-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="mx-2">Recursos Humanos</span>

    <span class="spacer"></span>

    <button mat-raised-button color="warn" (click)="logout()">
      cerrar sesion
    </button>

  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
