<div>
  <form [formGroup]="createVacancyForm" (ngSubmit)="onCreateVacancy()" class="create-form-center" action="">
    <h3>Formulario</h3>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column w-100">
        <mat-form-field>
          <mat-label>Seleccione el cargo vacante</mat-label>
          <mat-select formControlName="positionId">
            <mat-option [value]="item.id" *ngFor="let item of allPositions">
              {{item.position}} - {{item.departmentBranch.department.department}} - {{item.departmentBranch.branch.branch}}
            </mat-option>
          </mat-select>
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input type="text" placeholder="Titulo de la Convocatoria" matInput formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput placeholder="Descripción y requisitos del cargo" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Inicio de la Convocatoria</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="" formControlName="start_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Finalización de la Convocatoria</mat-label>
          <input matInput [matDatepicker]="picker3" placeholder="" formControlName="end_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 color="primary"></mat-datepicker>
          <mat-error>Este campo es obligatorio</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="mt-4">
      <button mat-raised-button color="primary" [disabled]="createVacancyForm.invalid">Guardar</button>
    </div>
  </form>
</div>
