<form class="create-contract-form w-50" [formGroup]="createContractTypeForm" (ngSubmit)="onCreate()">
  <h2>Nuevo Tipo de Contrato</h2>
  <div class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Tipo de Contrato</mat-label>
      <input matInput formControlName="type" type="text" required>
      <mat-error *ngIf="createContractTypeForm.get('type')?.hasError('required') && createContractTypeForm.get('type')?.touched">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>
    <button type="submit" class="w-50" mat-raised-button color="primary" [disabled]="createContractTypeForm.invalid">Registrar Tipo de Contrato</button>
  </div>
</form>
