/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form_rounded_border {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px rgb(126, 126, 126);
}

.ord_column {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.ord_row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.spacer{
  flex: 1 1 auto;
}

.create-form-center {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
}

.components-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.components-container > * {
  flex: 1;
  min-width: 45%;
}

